div[data-component='card'] {
    margin: 30px;
    padding: 10px;
    width: 450px;
    min-height: 90px;
    border: var(--border-color) 2px solid;
    border-radius: .625rem;

    &[data-theme='light'] {
        background-color: var(--secondary-light);
    }
    &[data-theme='dark'] {
        background-color: var(--secondary-dark);
    }
}