div[data-component='header'] {
    min-height: 90px;

    &[data-theme='light'] {
        background-color: var(--primary-light);
    }

    &[data-theme='dark'] {
        background-color: var(--primary-dark);
    }
}